<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/settings"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Support</ion-text>
        </ion-text>
      </ion-title>
  
    </ion-toolbar>
  
  </ion-header>
  
  
  <ion-content>
  
  
  
    <ion-grid class="ion-no-padding">
  
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-no-padding">
          <ion-card mode="ios" color="danger" class="ion-no-padding">
            <ion-card-content>
              <br><br>
              <p class="ion-text-center"> Call to Talk to a Customer Service Agent</p>
              <br><br>
  
              <div class="ion-text-center">
                <ion-button (click)="makeCall()" color="light" shape="round">
                  Call Now 
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <br>
  
      <ion-row>
        <ion-col>
          <h4 class="ion-text-center"><b>Send us an Email</b></h4>
        </ion-col>
      </ion-row>
  
      <ion-row>
  
        <ion-col>
          <ion-card mode="ios">
            <ion-list>
              <ion-item class="ion-padding">
                <ion-input [(ngModel)]="subject" type="text" autocorrect="on" placeholder="Topic" clearInput></ion-input>
              </ion-item>
  
              <ion-item class="ion-padding" lines="none">
                <ion-textarea [(ngModel)]="body" rows="6" placeholder="Enter your thoughts here..."></ion-textarea>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-col>
  
      </ion-row>
  
    </ion-grid>
    <div class="ion-text-center">
      <ion-button (click)="sendEmail()" color="danger" shape="round">Submit</ion-button>
    </div>
  
  </ion-content>