<ion-content no-padding>
  <div class="main">
    <ion-card no-margin class="card">
      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-row class="row">
            <div class="fire-logo">
              <img src="../../assets/images/logos/logo1.png" class="img-logo">
              <ion-text>
                <h2 no-margin margin-vertical text-center>Sign In</h2>
              </ion-text>
            </div>
          </ion-row>
          <!-- Login form -->

          <ion-row>
            <ion-col>
              <ion-input clearInput type="email" formControlName="email" placeholder="Email" class="input"
                padding-horizontal clear-input="true">
              </ion-input>
              <p ion-text class="text08"
                *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
                <ion-text color="warning">
                  Required Field
                </ion-text>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput type="password" formControlName="password" placeholder="Password" class="input"
                padding-horizontal clear-input="true"></ion-input>
              <p ion-text color="warning" class="text08"
                *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
                <ion-text color="warning">
                  Required Field
                </ion-text>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button *ngIf="!isLoggin" (click)="signin()" expand="block" color="undefined" class="btn-transition" [disabled]="!loginForm.valid">
                <strong class="white">Sign In</strong>
              </ion-button>
              <ion-button *ngIf="isLoggin" expand="block" color="warning" class="btn-transition">
                <strong class="white">Authenticating</strong><ion-spinner name="dots"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>

          <div class="line"></div>
          <ion-row>
            <ion-col>
              <ion-button expand="block" fill="outline" color="undefined" routerLink="/signup"
                routerLinkActive="router-link-active" class="btn-color"><strong>New? Create an Account</strong>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>