.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
ion-card{
    --background: #fff;
    box-shadow: none;
    -webkit-box-shadow:none;
}
@media screen and (min-width:768px){
    ion-card{
        width: 500px;
        margin: auto;
    }
}
.input {
    background-color: rgb(240, 240, 240);
    border: 1px solid #a2a2a2;
    border-radius: 9px;
    font-size: .9em !important;
}
.white{
    color: white;
}

.small {
    font-size: 13px;
    a{
        text-decoration: unset !important;
    }
}
.button-color {
    background-color : var(--ion-color-mytheme);
}
.logo {
    width: 1.25em !important;
}
.grid{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-logo{
    height:150px;
    width:150px;
}
.fire-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    ion-text{
        padding: 10px;
    }
}
.btn-transition{
    background: linear-gradient(to right, #fa6169 14%, #f70360 96%);
}
.btn-color{
    color:#FFA000;
    --border-radius: 0;
}