<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Orders</ion-text>
      </ion-text>
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <!-- Segmented Buttons for filtering -->
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>All</ion-segment-button>
    <ion-segment-button value="cancel">Cancelled</ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && (!relevantOrders || relevantOrders?.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>No data available, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && relevantOrders?.length > 0">

        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
              <!-- Using ion-virtual-scroll to load long lists -->
              <ion-virtual-scroll [items]="listedLoadedOrders" approxItemHeight="70px">
                <ion-item *virtualItem="let order" [routerLink]="['/order-details', order.id]" detail>
                  <ion-thumbnail slot="start">
                    <ion-img src="../../assets/images/logos/logo3.png"></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    <h2>{{ order.location }}</h2>
                    <p>{{ order.estimated_cost | currency:'GH¢':'symbol' }}</p>
                  </ion-label>
                </ion-item>
              </ion-virtual-scroll>
      
            </ion-col>
          </ion-row>

  </ion-grid>


</ion-content>