<ion-slides pager="true">
  <ion-slide class="step-one">
      <ion-img src="../../assets/images/logos/logo3.png"></ion-img>
      <h1>Welcome to JustFreddies</h1>
      <p>Your </p>
  </ion-slide>

  <ion-slide class="step-two">
      <ion-img src="/assets/slides/step2.svg"></ion-img>
      <h1>Heading</h1>
      <p>Text</p>
  </ion-slide>

  <ion-slide class="step-three">
      <ion-img src="/assets/slides/step3.svg"></ion-img>
      <h1>Heading</h1>
      <p>Text</p>

      <ion-button (click)="finish()">FINISH TUTORIAL!</ion-button>
  </ion-slide>
</ion-slides>