<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearCart()">
        <ion-icon *ngIf="selectedItems.length > 0" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of selectedItems" lines="inset" justify-content>
      {{ item.count }}x {{ item.name }} - {{ item.price | currency:'GH¢':'symbol' }}
      <ion-label slot="end" text-right>{{ (item.price * item.count) | currency:'GH¢':'symbol' }}</ion-label>
    </ion-item>
   
    <ion-item>
      Total: <span slot="end">{{ total | currency:'GH¢':'symbol' }}</span>
    </ion-item>

    <br><br>
    <form [formGroup]="orderForm">

      <ion-item>
        <ion-icon name="pin" color="danger" item-start></ion-icon>
        <ion-input type="text" placeholder="Delivery location, eg: Madina Zongo Junction" formControlName="location" padding-start></ion-input>
        <p ion-text class="text08"
          *ngIf="orderForm.get('location').touched && orderForm.get('location').hasError('required')">
          <ion-text color="warning">
            This field is required
          </ion-text>
        </p>
      </ion-item>
    </form>
  </ion-list>

</ion-content>

<ion-footer *ngIf="total > 0">
  <ion-toolbar>
    <ion-button shape="round" expand="full" color="danger" [disabled]="!orderForm.valid" (click)="checkout()"> Checkout</ion-button>
  </ion-toolbar>
</ion-footer>