<ion-app>
  <ion-split-pane>
    <ion-menu side="start" type="overlay" class="left-menu">
      <ion-header class="head">
        <div class="enappd-header">
          <div class="logo">
            <img src="../assets/images/logos/logo1.png" />
          </div>
          <div class="title">JustFreddies</div>
        </div>
      </ion-header>

      <ion-content class="app-back" scroll-y="true">

        <ion-list>

          <ion-menu-toggle auto-hide="false">
            <ion-item detail lines="none" routerLink="tabs/dashboard">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item detail lines="none" routerLink="tabs/orders">
              <ion-icon name="paper" slot="start"></ion-icon>
              <ion-label>Orders</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item detail lines="none" routerLink="tabs/profile">
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item detail lines="none" routerLink="tabs/settings">
              <ion-icon name="settings" slot="start"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-item margin-top lines="none" (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>
            Logout
          </ion-label>
        </ion-item>

      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>