// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');


@font-face {
    font-family: OpenSans;
    src: url('../assets/fonts/OpenSans.woff2') format('woff2');
}

* {
    font-family: OpenSans;
}


@font-face {
    font-family: BalooBhai;
    src: url('../assets/fonts/BalooBhai.woff2') format('woff2');
}

* {
    font-family: BalooBhai;
}

.zero-h {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
  }
  .animate-expand {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }
  .menu-label{
    align-items: center;
    display: flex;
    ion-icon{
      padding-left: 10px;
    }
  }
  .left-menu {
    .disabled{
      ion-icon{
        color: gray;
      }
      ion-label{
        color: gray;
      }
    }
    ion-icon {
      color: #222;
    }
    .enappd-header {
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      .logo {
        width: 100px;
      }
      .title {
        color: white;
        font-weight: bold;
        font-size: 28px;
      }
    }
    .upcoming {
      ion-label {
        color: #666;
      }
  
      ion-icon {
        color: #666;
      }
    }
    ion-content {
      --ion-background-color: #f8f8f8;
    }
    .version {
      margin: 0px 0px 0px 10px;
      color: #989aa2;
      font-size: 14px;
    }
    .config {
      margin: 5px 0px 0px 10px;
      color: #989aa2;
      font-size: 14px;
    }
    .option_menu-button {
      height: 45px;
      ion-label {
        height: 45px;
        margin: 0;
        margin-left: 10px;
        line-height: 42px;
      }
      ion-icon {
        height: 45px;
        margin: 0;
        line-height: 42px;
      }
    }
    .copyright {
      margin: 5px 0px 0px 10px;
      color: #989aa2;
      font-size: 14px;
    }
    ion-header {
      --background: linear-gradient(to right, #008ff5 14%, #57b1f1 96%);
    }
    ion-toolbar {
      --background: linear-gradient(to right, #008ff5 14%, #57b1f1 96%);
    }
    ion-title {
      color: white;
    }
    .list-padd {
      padding-top: 8px;
    }
  }
  