<ion-content text-center center>
  <div class="content">
    <div class="top">
      <div class="logo">
        <img src="../../assets/images/logos/logo1.png" />
      </div>
      <!-- <ion-text class="title" color="light">Canvas</ion-text> -->
    </div>
    <div class="bottom" padding-horizontal>
      <div class="content-list">
        <form [formGroup]="registerForm">
          <ion-card class="input-card" margin-vertical>
            <ion-item lines="none">
              <ion-icon name="person" item-start></ion-icon>
              <ion-input type="text" placeholder="Surname" formControlName="surname" padding-start></ion-input>
              <p ion-text class="text08"
                *ngIf="registerForm.get('surname').touched && registerForm.get('surname').hasError('required')">
                <ion-text color="warning">
                  This field is required
                </ion-text>
              </p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="person" item-start></ion-icon>
              <ion-input type="text" placeholder="Othernames" formControlName="othernames" padding-start></ion-input>
              <p ion-text class="text08"
                *ngIf="registerForm.get('othernames').touched && registerForm.get('othernames').hasError('required')">
                <ion-text color="warning">
                  This field is required
                </ion-text>
              </p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="call" item-start></ion-icon>
              <ion-input type="tel" placeholder="Mobile Number" formControlName="phone" padding-start></ion-input>
              <p ion-text class="text08"
                *ngIf="registerForm.get('phone').touched && registerForm.get('phone').hasError('required')">
                <ion-text color="warning">
                  This field is required
                </ion-text>
              </p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="mail" item-start></ion-icon>
              <ion-input type="email" placeholder="Email" formControlName="email" padding-start></ion-input>
              <p ion-text class="text08"
                *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
                <ion-text color="warning">
                  This field is required
                </ion-text>
              </p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="lock" item-start></ion-icon>
              <ion-input type="password" placeholder="Password" formControlName="password" padding-start></ion-input>
              <p ion-text color="warning" class="text08"
                *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
                <ion-text color="warning">
                  This field is required
                </ion-text>
              </p>
            </ion-item>
          
          </ion-card>
        </form>
      </div>
      <div class="loginBtn" margin-vertical>
        <ion-button expand="full" (click)="signup()" no-padding>Register</ion-button>
        <ion-text class="font-small" routerLink="/signin">Already have an account?<span ion-text class="link">
            Click here</span>
        </ion-text>
      </div>
    </div>
  </div>

</ion-content>