.content {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../../assets/images/pic1.jpg") no-repeat fixed center;
    background-size: cover !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    .top {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
      .title {
        font-size: 36px;
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .loginBtn {
        color: white;
        font-weight: 500;
        width: 100%;
        .link {
          font-weight: bold;
          color: (--ion-color-primary);
        }
      }
      .content-list {
        padding-top: 20px;
        width: 100%;
      }
      .input-card {
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0;
        border-radius: 7px;
        margin-top: -8px;
        ion-item {
          --background: rgba(255, 255, 255, 0.2);
          ion-input {
            --padding-start: 10px;
          }
          ion-icon {
            color: #eee;
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      .bottom {
        width: 600px;
        left: calc(50% - 300px);
      }
    }
  }
  