<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card class="ion-no-margin">
    <ion-card-content class="bg-profile">
      <img src="../../../assets/images/users.png">
      <h1 class="fw500">{{ userData?.surname }}  {{ userData?.othernames }}</h1>
    </ion-card-content>

    <form [formGroup]="editForm" class="list-form">
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-padding">
  
            <ion-list class="ion-margin-bottom">
              <ion-list-header color="light">
                <ion-label class="fw700">Profile Details</ion-label>
              </ion-list-header>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Surname:</ion-label>
                <ion-input inputmode="text" formControlName="surname"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Othername(s):</ion-label>
                <ion-input inputmode="text" formControlName="othernames"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Email:</ion-label>
                <ion-input inputmode="email" formControlName="email"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Phone:</ion-label>
                <ion-input inputmode="number" formControlName="phone"></ion-input>
              </ion-item>
            </ion-list>

  
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <!-- <ion-button size="large" expand="full" color="dark" (click)="editProfile()" class="ion-no-margin">Edit</ion-button> -->
  </ion-card>

</ion-content>
