<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dasboard</ion-title>
    <!-- <ion-searchbar animated mode="ios"></ion-searchbar> -->
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let cat of items" class="category-block">

    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{ cat.category }}
      </ion-col>
    </ion-row>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let product of cat.products">
        <div *ngIf="cat.expanded">
          <ion-card color="danger" mode="ios">
            <ion-card-header>
              <ion-card-title text-center>
                {{ product.name }} - GH¢{{ product.price }}
              </ion-card-title>
              <ion-card-content>
                <ion-img [src]="product.image != null? product.image : imgPlaceholder"></ion-img>
                <p>{{ product.description }}</p>
                <br>
                <ion-button shape="round" color="light" (click)="addToCart(product)">
                  <!-- <ion-icon name="add"></ion-icon>   -->
                  Add to Cart
                </ion-button>
                <!-- <ion-button shape="round" color="warning" (click)="deleteFromCart(product.name)">
                  <ion-icon name="remove"></ion-icon>  
                </ion-button> -->
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

  </div>

</ion-content>