<ion-content>

    <ion-slides pager (ionSlideWillChange)="slideChanged()" (ionSlideDrag)="slideMoved()">

        <ion-slide>
            <div class="diag" style="background: url('assets/images/whitebg.svg') no-repeat; width: 340px; height: 360px;">
                <ion-img src="assets/svgs/welcome.svg"  [@bounce]='state'
                 (@bounce.done)="animationDone($event)">
                </ion-img>
            </div>
            <div [@bounce]='state'>
                <h2>Welcome to JustFreddies</h2>
                <p>Your best Pizza and Restaurant joint.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style="background: url('assets/images/whitebg.svg') no-repeat; width: 340px; height: 360px;">
                <ion-img src="assets/svgs/register.svg" [@bounce]='state'></ion-img>
            </div>
            <div [@bounce]='state'>
                <h2>Sign Up</h2>
                <p>Register with us so we give you the best deals and know how to serve you best.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style="background: url('assets/images/whitebg.svg') no-repeat; width: 340px; height: 360px;">
                <ion-img src="assets/svgs/cart.svg" [@bounce]='state'></ion-img>
            </div>
            <div [@bounce]='state'>
                <h2>Make your order</h2>
                <p>Pick your meal choice from our pizza joint and / or restaurant.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style="background: url('assets/images/whitebg.svg') no-repeat; width: 340px; height: 360px;">
                <ion-img src="assets/svgs/location.svg" [@bounce]='state'></ion-img>
            </div>
            <div [@bounce]='state'>
                <h2>Location</h2>
                <p>Enter your current or preffered delivery point so your order comes straight to you</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style="background: url('assets/images/whitebg.svg') no-repeat; width: 340px; height: 360px;">
                <ion-img src="assets/svgs/confirm_order.svg" [@bounce]='state'></ion-img>
            </div>
            <div [@bounce]='state'>
                <h2>Confirm</h2>
                <p>Confirm your placed order so we work on it asap</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style="background: url('assets/images/whitebg.svg') no-repeat; width: 340px; height: 360px;">
                <ion-img src="assets/svgs/delivery.svg" [@bounce]='state'></ion-img>
            </div>
            <div [@bounce]='state'>
                <h2>Delivery</h2>
                <p>Our courier service would bring the order straight to your doorstep</p>
            </div>
        </ion-slide>

        <ion-slide>
             <div class="diag" style="background: url('assets/images/whitebg.svg') no-repeat; width: 340px; height: 360px;">
                <ion-img src="assets/svgs/pizza_sharing.svg" [@bounce]='state'></ion-img>
            </div>
            <div [@bounce]='state'>
                <h2>Enjoy your meal</h2>
                <p>Share your meal with family and friends, get back to us for more</p>
            </div>
        </ion-slide>
        
    </ion-slides>

    <button (click)="skip()" id="skip">{{ skipMsg }}</button>

</ion-content>