<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isLoading ? 'Loading...' : order.created_at}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img src="../../../assets/images/logos/logo1.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size-sm="6" offset-sm="3">

        <ion-card mode="ios">
          <ion-card-title class="ion-text-center ion-margin-top"><b>Food Ordered</b></ion-card-title>

          <ion-card-content>
            <ion-list *ngFor="let meal of meals">
              <ion-label color="dark" class="ion-text-center">Menu Item</ion-label>
              <ion-item lines="none">
                  <ion-avatar slot="start">
                      <ion-img [src]="meal.image"></ion-img>
                    </ion-avatar>
                <ion-label>{{ meal.name }}</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-icon slot="start" name="pizza"></ion-icon>
                <ion-label *ngIf="meal.description !== null">{{ meal.description }}</ion-label>
                <ion-label *ngIf="meal.description === null">N/A</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                <ion-label>Item Count: {{ meal.count }}</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-icon slot="start" name="cash"></ion-icon>
                <ion-label>Amount: <b>{{ meal.price | currency:'GH¢':'symbol' }}/meal</b></ion-label>
              </ion-item>
              
              <hr>
              
            </ion-list>

          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size-sm="6" offset-sm="3">

        <ion-card mode="ios">
          <ion-card-title class="ion-text-center ion-margin-top"><b>Service Detail</b></ion-card-title>

          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-icon slot="start" name="pin"></ion-icon>
                <ion-label>{{ order.location }}</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                <ion-label>Order Status: {{ order.status }}</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-icon slot="start" name="cash"></ion-icon>
                <ion-label>Total Cost: <b>{{ order.estimated_cost | currency:'GH¢':'symbol' }}</b></ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-icon slot="start" name="calendar"></ion-icon>
                <ion-label>{{ order.created_at }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>


    </ion-row>

    <ion-row *ngIf="isOrdable">
      <ion-col size-sm="6" offset-sm="3" text-center>
        <ion-button shape="round" color="primary" margin (click)="reOrder()">
          Reorder <ion-icon name="fastforward" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>