<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button mode="md" slot="icon-only" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


  <ion-toolbar color="danger">

    <ion-item class="ion-margin-bottom">
      <ion-avatar slot="start" class="user-avatar">
        <img src="../../assets/images/users.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark">
          <h2><strong>{{ userData?.surname }} {{ userData?.othernames }}</strong></h2>
        </ion-text>
        <ion-text color="dark">
          <h3> {{ userData?.access_level }} <ion-text color="secondary"> | </ion-text> 0{{ userData?.phone }}</h3>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="content-list">

    <ion-card class="ion-margin-vertical input-card">

      <ion-item lines="none" routerLink="/support">
        <ion-icon slot="start" name="headset" color="rgba(14, 13, 13, 0.685)"></ion-icon>
        <ion-label>Support</ion-label>
      </ion-item>

    </ion-card>

    <ion-card class="ion-margin-vertical input-card">

      <ion-item lines="none" (click)="share()">
        <ion-icon slot="start" name="share" color="rgba(14, 13, 13, 0.685)"></ion-icon>
        <ion-label>Invite Friends</ion-label>
      </ion-item>

      <ion-item lines="none" (click)="about()">
        <ion-icon slot="start" name="information-circle-outline" color="rgba(14, 13, 13, 0.685)"></ion-icon>
        <ion-label>About Us</ion-label>
      </ion-item>

    </ion-card>

    <ion-card class="ion-margin-vertical input-card">

      <ion-item lines="none" routerLink="/privacy">
        <ion-icon slot="start" name="unlock" color="rgba(14, 13, 13, 0.685)"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
      </ion-item>

      <ion-item lines="none" (click)="faqs()">
        <ion-icon slot="start" name="hand" color="rgba(14, 13, 13, 0.685)"></ion-icon>
        <ion-label>FAQs & Terms</ion-label>
      </ion-item>

    </ion-card>

  </div>

</ion-content>