.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loginBtn {
    color: white;
    font-weight: 500;
    width: 100%;
    .link {
      font-weight: bold;
      color: (--ion-color-primary);
    }
  }
  .content-list {
    padding-top: 20px;
    width: 100%;
  }
  .input-card {
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: rgb(14, 13, 13);
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    border-radius: 7px;
    margin-top: -8px;
    ion-item {
      --background: rgba(14, 13, 13, 0.685);
      ion-input {
        --padding-start: 10px;
      }
      ion-icon {
        color: rgb(10, 10, 10);
      }
    }
  }
}